* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.host-json__wrapper {
    align-items: center;
    background-color: #d8d8d8;
    border: solid 1px #cccccc;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.host-json__title {
    color: #000000;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.host-json__bullet {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.host-json__icon::before {
    content: "\F166";
    display: inline-block;
    font-family: "FabricMDL2Icons";
    margin-right: 4px;
    margin-top: 3px;
}

.is-closed .host-json__icon::before {
    content: "\F164";
    font-family: "FabricMDL2Icons";
}

.content {
    overflow-x: hidden !important;
}
